*{
  box-sizing: border-box;

}
:root {
  --primary-color: #e67510;
  --secondary-color: #f8b250;
  --accent-color: #ffcc00;
}

body {
  font-family: "Cairo", sans-serif;
  height: 100vh;
  margin: 0;
  background: linear-gradient(
    to right,
    #ff57228c 0%,
    #fff 60%,
    #f0e8e8 80%,
    #ff57228c 100%
  );
  direction: rtl;
}
.padding-section {
  padding: 30px 0;
}
.line-light{
  line-height: 2;
}
h1 {
  font-family: "Cairo", sans-serif;
  font-weight: bold;
  font-size: 2rem;
}
h2 {
  font-family: "Cairo", sans-serif;
  font-weight: bold;
  font-size: 1.5rem;
}
.bg-custom-orange {
  background-color: var(--primary-color);
}
.position-relative{
  position: relative;
}



/* //end navbar */

/* ///start header//// */
.cheep {
  background-image: url('../image/Group.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  padding: 3rem 2rem; 
  display: inline-block; 
  color: black; 
}

/* ///end header//// */
/* start section1 */
.ch{
   background-image: url('../image/ch.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  padding: 1rem 1rem; 
  display: inline-block; 
  color: black; 
}
.cheep-btn{
    background-image: url('../image/chepbtn.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  padding: 3rem 5rem; 
  display: inline-block; 
  color: black; 
}
/* end section1 */
/* start section3  */
.ch-two{
    background-image: url('../image/Frame\ 1597880767.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    padding: 2rem 1rem; 
    display: inline-block; 
    color: black; 
}
/* end section3  */

